<ion-header>
  <ion-navbar>
    <button ion-button menuToggle> <!--Colocando botão iniciar na pagina inicial -->
       <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Categorias</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
<!-- button ion-item -> Todo item fica clicavel -- Diretiva do Angular *ngFor = lê uma coleção e repetir o 
  numero de vezes da coleção. 
  *ngFor="let item of items" = Diretiva que percorre a lista de items( VARIAVEL CRIADA NO CONTROLADOR ) 
  e cada elemento recebe o apelido de item-->
    <button ion-item *ngFor="let item of items">
      <ion-thumbnail item-start>
        <!-- {{}} INTERPOLAÇÃO bucketUrl(variavel criada no controlador) com concatenação /cat que referencia o 
          nome das imagens de categoria e busca o id de cada uma das imagens -->
        <img src="{{bucketUrl}}/cat{{item.id}}.jpg" alt=""> 
      </ion-thumbnail>  
      <!-- {{}} INTERPOLAÇÃO = Interpola o conteudo do HTML com o DADO que veio do controlador  -->
        <h2>{{ item.nome }}</h2> 
    </button>

  </ion-list>

</ion-content>
